*{margin: 0px;padding: 0px;}
ul,ol,li{list-style: none}
#wrap{height:700px;width: 1000px;margin: 100px auto; position: relative;}
#box{
	height:550px;
	width: 329px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top:0px;
	border:3px solid #333;
}
#box ul {
	height: 440px;
	width: 1316px;
	position: absolute;
	left: 0px;top: 0px;
	margin-bottom: 10px;
}
#box ul li{
	float: left;
	height:440px;
	width: 329px;
	}
#box ul li img{height: 440px;width: 329px;}
#box ol{
	height:86px;
	width: 336px;
	position: absolute;
	left:2px;
	top: 445px;
 }
 #box ol li{float: left;margin-right: 4px;height: 100px;width: 74px;border: 2px solid green;}
  #box ol li.on{border: 2px solid red;}
 #box ol li img{height: 100px;width: 74px;}
 #box p{
 	height: 150px;
 	width: 150px;
 	background: #ccc;
 	opacity: 0.6;
 	position: absolute;
 	left: 0px;
 	top: 0px;
 	display: none;
 }
 #box_big{
 	position: absolute;
 	left: 429px;
 	top: 0;
 	height:300px;
 	width: 300px;
 	border: 1px solid #ccc;
 	overflow: hidden;


 }
 #box_big ul{
 	height:880px;
 	width: 659px;
 	position:absolute;
 	left: 0px;
 	top: 0px;
 }
 #box_big ul li{
 	height:880px;
 	width: 659px;
 	position: absolute;
  	left: 0px;
  	top: 0px;}
